@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.imgBgStyle {
  position: relative;
  z-index: 0;
}
.imgBgStyle::after {
  content: "";
  width: 100%;
  height: 90%;
  background-image: linear-gradient(345deg, #ffffff 60%, #00000000 0%);
  box-shadow: 0px 4px 26px rgb(22 34 45 / 25%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
